<CascadingAuthenticationState>
    <BootstrapBlazorRoot>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <PageTitle>CMS</PageTitle>
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <CMS.Auth.RedirctLogin />
                    </NotAuthorized>
                </AuthorizeRouteView>
                <PageTitle>CMS</PageTitle>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Nothing ...</p>
                </LayoutView>
            </NotFound>
        </Router>
    </BootstrapBlazorRoot>
</CascadingAuthenticationState>
