@page "/"
@inherits BaseContentPage
@code{ 
    public Home():base("Home")
    {

    }
}

<MRow Style="background: repeating-linear-gradient(to bottom, #9d7373, #c5b2b2) ">
    <MRow>
        <MCol Cols="6" Style="flex-flow:column;padding:5em;">
            <div class="text-lg-center text-white my_shadow_title">@Contents.FirstOrDefault(a=>a.ModuleName=="part1"&&a.Remark=="title1")?.Content</div>
            <div class="text-lg-center text-white my_shadow_title">@Contents.FirstOrDefault(a => a.ModuleName == "part1" && a.Remark == "title2")?.Content</div>
            <div class="text-sm-center" style="color: #5D5252; padding: 1vh;">@Contents.FirstOrDefault(a => a.ModuleName == "part1" && a.Remark == "title3")?.Content</div>
            <div class="flex-center">
                <MButton Width="200">
                    <span>Find a course</span>
                </MButton>
            </div>
        </MCol>

        <MCol Cols="6">
            <MImage Src="@System.Web.HttpUtility.UrlDecode(Contents.FirstOrDefault(a=>a.ModuleName=="part1"&&a.Remark=="img1")?.Content)" />
        </MCol>
    </MRow>

    <MRow>
        <div class="text-lg-end" style="font-size: 36px; color: #d95050; font-family: fantasy;">
            @Contents.FirstOrDefault(a => a.ModuleName == "part2")?.Content
        </div>
    </MRow>

    <MRow>
        <div class="text-sm-start my_margin_text" style="font-weight: 400; color: #635252; font-size: 14px">
            @Contents.FirstOrDefault(a => a.ModuleName == "part3")?.Content

            @*<div>
            Established in 1965, the University of Newcastle is a research-intensive university and is ranked within the world’s Top 200 Universities (QS World University Rankings 2023).
        </div>
        <div>
            To ensure that the University is well-equipped to meet the market demand in Singapore and across the region,
            Newcastle Australia Institute of Higher Education (Newcastle Australia) was incorporated in Singapore in 2006 as the Asia Pacific hub of the University.
        </div>
        <div>
            Since its establishment, Newcastle Australia has been playing an instrumental role in providing future-ready leaders with quality higher education,
            while undertaking collaborative research with local and regional educational institutions.
        </div>
        <div>
            With a leading team of academics, teaching and learning staff­ based locally,
            students and graduates of Newcastle Australia will benefit from the University’s excellent support schemes.
        </div>
        <div>
            To date, Newcastle Australia has graduated more than 6,000 graduates from 39 countries.
        </div>*@
        </div>
    </MRow>

    <MRow Style="border: solid 0.2em #877676; background-color: #c7c4c4; height: 300px;margin:2em;">

    </MRow>

    <MRow>
        <MImage Src="@System.Web.HttpUtility.UrlDecode(Contents.FirstOrDefault(a=>a.ModuleName=="part4")?.Content)" />
    </MRow>

    <MRow>
        <MCol Cols="3">
            <MImage Src="imgs/official/home/home3.png" />
        </MCol>
        <MCol Cols="9" Style="flex-flow:column;font-size:36px;margin:auto">
            <div>
                @System.Web.HttpUtility.UrlDecode(Contents.FirstOrDefault(a => a.ModuleName == "part5"&&a.Type==0)?.Content)
                @*<div class="text-lg-center my_home_red">A LEADING PRIVATE EDUCATION INSTITUTION IN SINGAPORE</div>
        <div class="text-lg-center"><span class="my_home_red">Take </span><span class="my_home_brown">courses from </span><span class="my_home_red">the University of Newcastle in Australia</span></div>
        <div class="text-lg-center"><span class="my_home_red">at PSB Academy </span><span class="my_home_brown">in </span><span style="color:#b40e0e">Singapore </span><span class="my_home_brown">and</span> <span style="color:#fa8686">enjoy</span> <span class="my_home_brown"> a different Asian </span><span style="color:#f14545">life</span></div>*@
            </div>
        </MCol>
    </MRow>

    <MRow>
        <MCol Cols="8">
            <MImage Src="@System.Web.HttpUtility.UrlDecode(Contents.FirstOrDefault(a => a.ModuleName == "part4"&&a.Type==1)?.Content)" />
        </MCol>
        <MCol Cols="4">
            <div style="color:#866d6d;font-size:12px;">
                @System.Web.HttpUtility.UrlDecode(Contents.FirstOrDefault(a => a.ModuleName == "part6"&&a.Type==0)?.Content)
                @*As one of Singapore’s leading private education institutions
        with almost 60-years heritage of producing more than
        200,000 learners, PSB Academy is committed to
        defining our identity as “Asia’s Future Academy”.
        Established in 1964, we started under Singapore’s Economic
        Development Board and later Productivity and Standards Board
        to upgrade the knowledge and skills of Singapore’s workforce.
        With an approach to education that focuses on what really
        matters:
        performance in the New Economy,
        PSB Academy provides quality education to shape and
        nurture future-ready graduates with the necessary skills and
        tools to stay relevant in a digitally-driven economy.*@
            </div>
        </MCol>
    </MRow>

    <MRow Style="border: solid 0.2em #877676; background-color: #c7c4c4; height: 300px;margin:2em;">

    </MRow>

    <MRow>
        <MCol Cols="4">
            <MImage Src="@System.Web.HttpUtility.UrlDecode(Contents.FirstOrDefault(a => a.ModuleName == "part7")?.Content)" />
        </MCol>
        <MCol Cols="4" Style="margin:auto">
            <div style="display:flex;justify-content:center;">
                <MImage Src="@System.Web.HttpUtility.UrlDecode(Contents.FirstOrDefault(a => a.ModuleName == "part8")?.Content)" Height="200" Width="200" Style="background-size:cover"/>
            </div>
        </MCol>
        <MCol Cols="4">
            <MImage Src="@System.Web.HttpUtility.UrlDecode(Contents.FirstOrDefault(a => a.ModuleName == "part9")?.Content)" />

        </MCol>
    </MRow>
</MRow>
